*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background-image: url('../icon/background-tree-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.allFoodText{
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #ff0000;
}

.box{
    margin-top: 100px;
}

.burgerFoto{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: block;
    
    
}


.foodName > h5{
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    color:#262626;
    text-transform: uppercase;
}

.foodPrice{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: #ff0000;
    
  
}

.food-footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    
}